.nav-link:hover {
    background-color: grey;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 200ms;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

:root {
    --color-black: #232323;
    --color-pink: #ff6393;
    --color-dark-pink: #df4775;
    --color-purple: #342a47;
    --color-blue: deepskyblue;
    --color-gray: #525252;
    --color-green: #bbe187;

    --transition-fast: 0.1s;
}

.InputGroup {
    display: flex;
    width: auto;
}

/*Footer*/
#bawah {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}

@media (max-width: 989px) {
    .navbar-title {
        display: none;
    }
}

/* voting */
@import url("https://fonts.googleapis.com/css?family=Dax:400,900");

.middle {
    width: 100%;
    text-align: center;
}

.middle input[type="radio"] {
    display: none;
}

.middle input[type="radio"]:checked + .box {
    background-color: #e33f5a;
}

.middle input[type="radio"]:checked + .box span {
    color: white;
    transform: translateY(40px);
}

.middle input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
}

.middle .box {
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    background-blend-mode: multiply;
    border: solid #142447;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Dax", sans-serif;
    font-weight: 900;
}

.middle .box:active {
    transform: translateY(10px);
}

.middle .box span {
    position: absolute;
    transform: translate(0, 30px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1.3rem;
    user-select: none;
    color: #e33f5a;
}

.middle .box span:before {
    font-size: 1em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}

.middle .check span:before {
    content: "\f00c";
}

.middle p {
    color: #fff;
    font-family: "Dax", sans-serif;
    font-weight: 400;
}

.middle p a {
    text-decoration: underline;
    font-weight: bold;
    color: #fff;
}

.middle p span:after {
    content: "\f0e7";
    font-family: FontAwesome;
    color: yellow;
}

.line {
    border: 1px solid;
}

.nama-calon {
    color: #e33f5a;
    font-weight: bold;
}
