.nav-link:hover {
    background-color: grey;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

:root {
    --color-black: #232323;
    --color-pink: #ff6393;
    --color-dark-pink: #df4775;
    --color-purple: #342a47;
    --color-blue: deepskyblue;
    --color-gray: #525252;
    --color-green: #bbe187;

    --transition-fast: 0.1s;
}

.InputGroup {
    display: flex;
    width: auto;
}

/**
  * 1. Hides the input from view
  * 2. Ensures the element does not consume any space
  */

input[type="radio"] {
    visibility: hidden; /* 1 */
    height: 0; /* 2 */
    width: 0; /* 2 */
}

label {
    display: flex;
    flex: auto;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-gray);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    transition: color --transition-fast ease-out,
    background-color --transition-fast ease-in;
    user-select: none;
    margin-right: 8px;
}

label:last-of-type {
    margin-right: 0;
}

input[type="radio"]:checked + label {
    background-color: var(--color-blue);
    color: var(--color-#111);
}

input[type="radio"]:hover:not(:checked) + label {
    background-color: var(--color-blue);
    color: var(--color-#111);
}

/*Voting system*/

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/*Voting radio button*/

input[type="radio"] {
    display: none;
}
input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
}
input[type="radio"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}

label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid #20df80;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
}

input[type="radio"]:checked + label {
    background: #20df80;
    color: white;
}
input[type="radio"]:checked + label::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #1dc973;
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

input[type="radio"]#control_05:checked + label {
    background: red;
    border-color: red;
}

@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}

@media (max-width: 989px) {
    .navbar-title {
        display: none;
    }
}
